@media url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(Assets/dotted.svg);
    min-height: 150vh;
}

/* ############################################ header ####################################################### */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #12232E;
    opacity: 0.9;
}

header .logo{
    margin-top: 50px;
    margin-left: 10px; 
    width: 180px;
    height: 140px; 
    border-radius: 50%; 
    border: 5px solid #86C232;
    background: url(Assets/logo.jpg);
    background-size: cover;
}

header ul{
    position: relative;
    justify-content: center;
    display: flex;
    list-style: none;
}

header ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.5em;
    font-weight: 400;
    padding: 30px;
    text-decoration: none;
    color: #EEFBFB;
}

header ul li a:hover{
    letter-spacing: 2px;
    font-size: 2em;
    transition: 0.2s ease-in-out;
    color: #86C232;
    border-bottom: 5px solid #86C232;
}

.profile{
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 50%;
    background-image: url(Assets/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid #222629;
}

.about_me
{
    margin-top: 200px;
    margin-left: 0;
    float: right;
}

.about_me h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 650px;
    font-size: 3em;
    color: #86C232;
}

.about_me p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between; 
    align-items: center;
    color: #222629;
    font-size: 20px;
    font-weight: 600;
    line-height: 2; 
}

.wrapper .flights{
    margin-top: 200px;
    margin-left: 100px; 
    float: left;
    width: 40%;
    height: 400px;
    background-image: url(Assets/flight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid #12232E;
}

.wrapper .hotels{
    margin-top: 200px;
    margin-right: 100px;
    float: right;
    width: 40%;
    height: 400px;
    background-image: url(Assets/hotel.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid #12232E;
}

.wrapper a{
    font-size: 2em;
    font-weight: 500;
    color: #12232E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.rating{
    font-size: 2em;
    font-weight: 500;
    color:#86C232;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 100px;
}

.star{
    background-image: url(Assets/star.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 100px;
}

.plan_t{
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.plan_t h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    color: #86C232;
}

.plan_t ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 24px;
    font-weight: 600;
    line-height: 2;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}

.col{
    background-image: url(Assets/doubleInvertedComma.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 250px;
}

.footer {
    width: 100vw;
    height: 350px;
    position: relative;
    border-radius: 3px;
    bottom: 0;
  }
  .footer-content {
    height: 300px;
    display: flex;
    padding: 40px 60px;
    width: 100%;
    border-bottom: 1px solid #84849d;
  }
  .footer-section {
    width: 23%;
  }
  .footer-content .form {
    width: 33%;
  }
  .footer-content .form p {
    font-size: 14px;
  }
  .footer-section input {
    border: 1px solid #84849d;
    padding: 10px 25px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .footer-section button {
    padding: 12px 78px;
    color: white;
    font-size: 15px;
    background-color: #5d7cc5;
    border: none;
    border-radius: 5px;
  }
  .footer-section li {
    list-style: none;
    padding-bottom: 7px;
  }
  .footer-section li a {
    text-decoration: none;
    color: #000948;
  }
  .footer-section h3 {
    color: #010837;
  }
  
  .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: #84849d;
  }
  